
{% extends "layout.html" %}

{% block pageTitle %}
 About you - Register your balloon - demo service
{% endblock %}

{% block header %}
{{ super() }}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
<div class="govuk-width-container">
        {{ govukPhaseBanner({
        tag: {
            text: "DEMO"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
        }) }}
</div>
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/steps/start"
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form method="post" action="/steps/about-you" novalidate>
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                About you
            </h1>
        </legend>

      {{
          govukInput(
          {
            label: {
            text: "First name",
            classes: "govuk-label"
        },
        id: "firstName",
        name: "firstName",
        classes: "govuk-input--width-20",
        value: data['firstName']
        })
     }}

        {{
          govukInput(
          {
            label: {
            text: "Second name",
            classes: "govuk-label"
        },
        id: "secondName",
        name: "secondName",
        classes: "govuk-input--width-20",
        value: data['secondName']
        })
     }}
     </fieldset>

     {{ 
         govukButton({
            text: "Save and continue"
            })
    }}
     </form>
    </div>
  </div>

{% endblock %}
