
{% extends "layout.html" %}

{% block pageTitle %}
{% if validation %}
Error: 
{% endif %}
Register your balloon - demo service
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/phase.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/steps/start"
  }) }}
{% endblock %}

{% block content %}

{% include "includes/validation.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form method="post" action="/steps/about-you" novalidate autocomplete="off">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                About you
        </legend>

      {{
          govukInput(
          {
            label: {
            text: "First name",
            classes: "govuk-label"
        },
        id: "firstName",
        name: "firstName",
        classes: "govuk-input--width-20",
        value: data['firstName'],
        errorMessage: validation.firstName.errorMessage
        })
     }}

        {{
          govukInput(
          {
            label: {
            text: "Second name",
            classes: "govuk-label"
        },
        id: "secondName",
        name: "secondName",
        classes: "govuk-input--width-20",
        value: data['secondName'],
        errorMessage: validation.secondName.errorMessage
        })
     }}
     </fieldset>


<p class="govuk-heading-m">
      Have you changed your name?
</p>

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  hint: {
    html: "This includes changing your:
    
    <ul class='govuk-list govuk-list--bullet govuk-hint'>
     <li>first name</li>
     <li>last name</li>
     <li>spelling your name differently</li>
     <li>change of name due to marriage</li>
     <li>change of name by deed poll</li>
    </ul>
    
    Fnd out more about <a class='govuk-link' href='https://www.gov.uk/change-name-deed-poll'>Change your name by deed poll</a>.
    "
  },
  errorMessage: validation['changed-name'].errorMessage,
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: true if data['changed-name'] === 'yes' else null
    },
    {
      value: "no",
      text: "No",
      checked: true if data['changed-name'] === 'no' else null
    }
  ]
}) }}


<p class="govuk-heading-m">
      What is your date of birth?
</p>


{{ govukDateInput({
  id: "dob",
  namePrefix: "dob",
  hint: {
    text: "For example, 31 3 1980"
  },
  items: [
    {
      name: "day",
      classes: "govuk-input--width-2",
      autocomplete: "bday-day",
      value: data['dob-day']
    },
    {
      name: "month",
      classes: "govuk-input--width-2",
      autocomplete: "bday-month",
      value: data['dob-month']
    },
    {
      name: "year",
      classes: "govuk-input--width-4",
      autocomplete: "bday-year",
      value: data['dob-year']
    }
  ]
}) }}





     {{ 
         govukButton({
            text: "Save and continue"
            })
    }}
     </form>
    </div>
  </div>

{% endblock %}
