
{% extends "layout.html" %}

{% block pageTitle %}
{% if validation %}
Error: 
{% endif %}
Register your balloon - demo service
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/phase.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/steps/start"
  }) }}
{% endblock %}

{% block content %}

{% include "includes/validation.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form method="post" action="/steps/about-you" novalidate>
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                About you
        </legend>

      {{
          govukInput(
          {
            label: {
            text: "First name",
            classes: "govuk-label"
        },
        id: "firstName",
        name: "firstName",
        classes: "govuk-input--width-20",
        value: data['firstName'],
        errorMessage: validation.firstName.errorMessage
        })
     }}

        {{
          govukInput(
          {
            label: {
            text: "Second name",
            classes: "govuk-label"
        },
        id: "secondName",
        name: "secondName",
        classes: "govuk-input--width-20",
        value: data['secondName'],
        errorMessage: validation.secondName.errorMessage
        })
     }}
     </fieldset>

     {{ 
         govukButton({
            text: "Save and continue"
            })
    }}
     </form>
    </div>
  </div>

{% endblock %}
