
{% extends "layout.html" %}

{% block pageTitle %}
  {% if validation %}
  Error: 
  {% endif %}
    Your balloon details - Register your balloon - demo service
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "includes/phase.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/steps/contact"
  }) }}
{% endblock %}

{% block content %}

{% include "includes/validation.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form method="post" action="/steps/balloon-details" novalidate>

<h1 class="govuk-heading-l">Your balloon details</h1>

  <img src="/public/images/ballooon.png" class="govuk-!-width-one-third" alt="example" />

  {{ govukInput({
    label: {
      text: "Balloon reference number"
    },
    hint: {
      text: "You can find this on your balloon it starts with 95",
      attributes: {
        style: "color: 	#e8e8e7;"
      }
    },
    errorMessage: validation['balloon-reference'].errorMessage,
    classes: "govuk-!-width-two-thirds",
    id: "balloon-reference",
    name: "balloon-reference",
    value: data['balloon-reference']
  }) }}


{{ govukSelect({
  id: "balloonType",
  name: "balloonType",
  label: {
    text: "Type"
  },
  items: [
    {
      value: "",
      text: ""
    },
    {
      value: "soft__0001",
      text: "Soft",
      selected: checked("balloonType", "soft__0001")
    },
    {
      value: "medium_0002",
      text: "Medium",
      selected: checked("balloonType", "medium_0002")
    },
    {
      value: "child_0003",
      text:  "Child",
      selected: checked("balloonType", "child_0003")
    }
  ]
}) }}

     {{ 
         govukButton({
            text: "Save and continue"
            })
    }}
     </form>
    </div>
  </div>

{% endblock %}